body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center; 
    height: 200px;
    width: 100%;
    line-height: 1.8;
}



div {
    text-align: center;
    text-indent: 50px;
    /*border: 3px solid #042b46;*/
    padding: 5px;
}
p {
    border: 2px solid rgb(211, 202, 247);
    border-radius: 20px;
    padding: 10px;
   
  }

img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px
  }

.img1 {
    float: right;
}
.img2 {
    float: left;
}
.img3 {
    float: right;
}