.contenedor-contacto {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    grid-area: aside;
}

ul {
    list-style: none;
    padding: 0;
}

.titulo {
    text-align: center;
    font-size: 3em;
}



.contacto-ingreso-datos {
    box-shadow: 0 0 20px 0 rgba(12, 0, 0, 0.993);
    border-radius: 5%;
    
}

.contacto-ingreso-datos > * {
    padding: 1em;
}

.formulario-contacto{
    background: #18aff5;
    border-radius: 5%;
}

.formulario-contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario-contacto form label {
    display: block;
}

.formulario-contacto form p {
    margin: 0;
    padding: 1em;
}

.formulario-contacto form .mensaje {
    grid-column: 1 / 3;
}

.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.formulario-contacto form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.formulario-contacto form button:hover,
.formulario-contacto form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}



/* LARGE SIZE */
@media(min-width: 700px) {
  
    .contacto-ingreso-datos {
        display: grid;
        
    }
    .contacto-ingreso-datos > * {
        padding: 2em;
    }
    
}