p {
    border: 2px solid rgb(211, 202, 247);
    border-radius: 20px;
    padding: 10px;
   
  }

img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px
  }

.imagenes{
    grid-area: aside;
}
