
.contenedor-turnos{

    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*background-image: url(/proyecto/imagenes/contacto.jpg);*/
    background-color: #d9efed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        
        background-attachment: fixed;
    
}


input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

select {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    text-align: justify;
    font-weight: 600;
   border: 1px solid black;
    border-radius: 5px;

  }
  .especialidades, .obras, .lugar{
    border: 2px solid rgb(211, 202, 247);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 58%;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
  }
  .lab-especialidades, .lab-lugares, .lab-obras{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

  .for-especialidad, .for-lugar, .for-obras{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  



  .profesionales{
    border: 2px solid rgb(211, 202, 247);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 58%;
    align-items: center;
    padding: 10px;
    margin: 50px;
    display: none;
  }
  
  .for-profesionales{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
.lab-profesionales{
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
  
  
  
  
  .turnosdisponibles{
    border: 2px solid rgb(211, 202, 247);
    width: 58%;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 50px;
    display: none;
  }
  h3{
    text-align: center;
  }
  .dias-disp{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin: 10px;

  }

  .horario-1, .horario-2, .horario-3{
    cursor: pointer;
    background: #d9efed;
    border-radius: 15px;
  }
  .horario-1:hover, .horario-2:hover, .horario-3:hover{
    background: #00baad;
  }
 
  .turno-dia{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
  }

  .turno-dia > button{
    
    background: #577486;
    border-radius: 15px;
  }
  .turno-horarios{
    display: flex;
    flex-direction: column;
    align-items: center;
  }








  @media screen and (max-width: 768px){
    
    
    .contenedor-turnos{
      margin-top: 150px;
    }
    
    
    .dias-disp{
      display: block;
    }
    .turno-dia > button{
      
      margin: 10px 24% 10px 24%;
      padding: 5px;
      
    }
  }