





.cabecera-noticias{
    grid-area: aside;
    display: flex;
    background-image: url(/proyecto/imagenes/noticias/fondo\ noticias.jpg);
    height: 600px;
    width: 100%;
    background-color: #585149;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
  
    

    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.cabecera-noticias > h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    color: white;
}
.cabecera-noticias > a {
    color: white;
}



.noticia1{
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.noticia1 > img{
    width: 70vw;
    
}
.noticia1 > p {

    color: grey;

}