body{

box-sizing: border-box;
margin: 0;
padding: 0;
background-color: gray;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registrarse{

    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

::placeholder{
    color:transparent
}


.optionlabel{


position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}
.optioninput{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #0752e7;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

h1{font-size: 32px;
margin-bottom: 50px;
}

.contenedor{
    position: relative;
  height: 40px;
  width: 90%;
  margin-bottom: 17px;
}

.formulario{
background-color: whitesmoke;
width: 400px;

border-radius: 8px;
padding: 20px 40px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

body{
background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
