

.grilla-medicos{
  display: grid;
  grid-area: aside;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  background: linear-gradient(to right, white, #B1C4CA, white);
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
 
}

/*
.grid-container > div {
  
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
 
}
 */ 
  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin: 0 auto; 
    justify-content: center;
    height: 100%;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #cfe5e3;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .polaroid:hover .overlay {
    height: 65%;
  }
  .polaroid {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .text-p {
    font-size: 16px;
  }
  