*{
    font-family: sans-serif;
    line-height: 1.15;
    text-decoration-color: white;
}
body{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.contenedor{
    display: grid;
    grid-template-rows: 5fr 75fr 75fr 75fr 5fr;
    grid-template-columns:repeat(12, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: "encai encai encc encc encc encc encc encc encc encd encd encd"
                        "serv serv serv serv serv serv serv serv serv serv serv serv"                    
                        "aside aside aside aside aside aside aside aside aside aside aside aside"
                        "main main main main main main main main main main main main"
                        
                        "footer footer footer footer footer footer footer footer footer footer footer footer";
    /*background: rgb(255, 254, 254);*/
    
    height: 98vh;
    
}

.enc__home{
    grid-area: encai;
    /*border: 2px solid red;*/
   padding-left: 30px;
   background-color: #577486;
}

.enc__home img{
    grid-area: encai;
    position: relative;
     width: 100%;
     height:auto;
}
.enc__menu{
    grid-area: encc;
    /*border: 2px solid red;*/
    display:inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    
    /*background: rgb(246,0,0);
background: -moz-linear-gradient(0deg, rgba(246,0,0,1) 0%, rgba(255,255,255,1) 51%);
background: -webkit-linear-gradient(0deg, rgba(246,0,0,1) 0%, rgba(255,255,255,1) 51%);
background: linear-gradient(0deg, rgba(246,0,0,1) 0%, rgba(255,255,255,1) 51%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f60000",endColorstr="#ffffff",GradientType=1);
*/
background-color: #577486;
    
}
.enc__menu-ul{
   text-align: center; 
   padding: 0  ;
   margin: 0;
   
}
.enc__menu-ul>li{
    /*border: 1px solid black;*/
    /*border: 1px solid black;*/
    /*background:  #D6EAF8;*/
    display: inline-block;
    text-align: center;
    /*width: 90px;
    
    border-radius: 15%;*/
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    
}
.menu-ul>li>a{
    color: white;
    text-decoration: none; 
}
.enc__menu-ul>li:hover{
    color: white;
    
}
.enc__menu-ul li a {
    color: white;
    text-decoration: none; 
}

.check__menu {
display: none;
color: white;
}
.check__boton{
    display: none;
}
.enc__menu-ul>li>a:hover,
.enc__menu-ul>li>a:active {
    color: #53add0; 
}




/*.enc__menu-ul ol{

   
    border: 2px solid red;
    border-radius: 10%;
    background: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}*/

.enc__ingreso{
    grid-area: encd;
    /*border: 2px solid red;*/
    display:inline-flex;
    align-items: center;
    justify-content: center;
   
    /*background: rgb(246,0,0);
    background: -moz-linear-gradient(0deg, rgba(246,0,0,1) 0%, rgba(255,255,255,1) 51%);
    background: -webkit-linear-gradient(0deg, rgba(246,0,0,1) 0%, rgba(255,255,255,1) 51%);
    background: linear-gradient(0deg, rgba(246,0,0,1) 0%, rgba(255,255,255,1) 51%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f60000",endColorstr="#ffffff",GradientType=1);   */
    background:  #577486;


}  

.enc__ingreso-ul{
    text-align: center; 
   padding: 0  ;
   margin: 0;
   /*display: flex;*/

}
.enc__ingreso-li{
    
    /*border: 1px solid black;*/
    border-radius: 15%;
    display: block;
    text-align: center;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    background:  white;
    margin: 5px;
    
    
}

.enc__ingreso-li>a{
    color: black
}

.enc__ingreso-li:hover{
    background:  #93c5c6;
 }

  
  .servicio{
    display: flex;
   
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    background-color: #fff;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px 40px;
    /*overflow: hidden;*/
  }
  
  .servicio-medico{
    
    grid-area: serv;
    display: grid;
    
    
  }
  .servicio-medico h1{
   
    color: #2f3e47;
    text-align: center;
  }
  
  .tabs{
    position: relative;
  }
  
  span.diana {
    position: fixed;
    display: none;
    }
  
  .diana + a {
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
   
    background-color: #b8d8d7;
    margin-bottom: -1px;
    border-radius: 8px 8px 0 0;
    margin-right: 10px;
    text-decoration:none;
  }
  
  .diana:target + a {
    background-color: #fff;
    border-bottom-color: #fff; 
  }

  #pnl_1, #pnl_2, #pnl_3, #pnl_4, #pnl_5, #pnl_6 {
    display: none;
    padding: 30px;
  }
  #uno:target ~ #pnl_1,
#dos:target ~ #pnl_2,
#tres:target ~ #pnl_3,
#cuatro:target ~ #pnl_4,
#cinco:target ~ #pnl_5,
#seis:target ~ #pnl_6 {
  display: block;
}
  
    #pnl_1 > div, #pnl_2 > div, #pnl_3 > div #pnl_4 > div, #pnl_5 > div, #pnl_6 > div{
      opacity: 0;
      transition: all 0.1s ease;
      padding: 30px;
      
    }
  
  #uno:target ~ #pnl_1, #dos:target ~ #pnl_2, #tres:target ~ #pnl_3, #cuatro:target ~ #pnl_4, #cinco:target ~ #pnl_5, #seis:target ~ #pnl_6{
    position: static;
    /*border: 1px solid #ddd;*/
  }
  
    #uno:target ~ #pnl_1 > div, #dos:target ~ #pnl_2 > div, #tres:target ~ #pnl_3 > div, #cuatro:target ~ #pnl_4 > div, #cinco:target ~ #pnl_5 > div, #seis:target ~ #pnl_6 > div{
      opacity: 1;
      transition: all 1s ease;
    }
    @media (max-width: 768px) {
        #servicio {
          padding: 30px 20px;
        }
      }
      
      
      @media (max-width: 480px) {
        #servicio {
          padding: 20px 10px;
        }
      }




/*
.servicios{
    background: lightcoral;
    border: 2px solid red;
    grid-area: serv;
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:  "derma derma derma derma clinica clinica clinica clinica cardio cardio cardio cardio"
                "gineco gineco gineco gineco pedi pedi pedi pedi trauma trauma trauma trauma";
    
    
}

.servicios > div > img{
    height: 100px;
    width: 50%;
}

.servicios-derma{
    grid-area: derma;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    
}

.oculto-derma{
    display: none;
}

.muestro-texto{
    display:block;
}

.servicios * > p{
    text-align: justify;
    padding: 10px;
    
}
.servicios-clinica{
    grid-area: clinica;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.servicios-cardio{
    grid-area: cardio;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.servicios-gineco{
    grid-area: gineco;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.servicios-pedi{
    grid-area: pedi;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.servicios-trauma{
    grid-area: trauma;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

*/



 .aside{
    grid-area: aside;
    display: flex;
    color: black;
    text-align: center;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    */
    


}

.carrucel{
    
    width: 1280px;
    height:auto ;
    margin: auto auto 0;
    overflow: hidden;
   }



.carrucel__ul{
    border-top: groove;
    border-bottom: groove;
    border-color: #e9f2f1;
    /*filter: drop-shadow(5px 5px 5px #222);*/
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
     width: 400%;
     height: 600px;
     animation: slide 28s infinite ease-in-out;

}


@keyframes slide{

    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


.carrucel__ul > li{

    list-style: none;
    width: 100%;
}


.carrucel__ul > a{
width: 100%;
text-decoration: bl;
}

/*

.carrucel__ul > img{
    

}


.carrucel__ul > h3{

}


.carrucel__ul > p{

}


*/


.main{
    grid-area: main;
    width: 98%;
    /*border: 2px solid red;*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "tex tex tex tex tex tex tex tex tex tex tex tex"
                        "tel tel tel tel what what what what onl onl onl onl"
                        "serv serv serv serv serv serv serv serv serv serv serv serv";

    /*background-image:url(test\proyecto\imagenes\contacto.jpg);
*/
    background-color: #d9efed ;
    background-repeat: no-repeat;
    background-size:100% 100%;
    
    }



.main__grid-turnos{
    grid-area: tex;
}


.main__grid-turnos > p{
    text-align: center;
    font-size: 20px;
    color:#577486;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    padding: 5px;
}

.main__grid-servicios{
    
    background: white;
    grid-area: serv;
}

.telefono{
    
grid-area: tel;
display: flex;
flex-direction: column;
align-items: center;
}

.tel-icono{
    display: flex;
    background: #00BAAD;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items:center;
    justify-content: center;
    font-size: 25px;
    margin: 10px 0 0 10px;
    
}
.txt > h4, .editor >p{
    color: #577486;
   /* font-family: Georgia, 'Times New Roman', Times, serif;*/
}
.telefono > .txt{
    text-align: center;
}


.what{
    
    grid-area: what;
    display: flex;
flex-direction: column;
align-items: center;
}

.what-ico{
    display: flex;
    background: #00BAAD;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items:center;
    justify-content: center;
    font-size: 25px;
    margin: 10px 0 0 10px;
}

.what > a{
    
    background: white;
    padding: 1px;
    
}
.what > .txt{
    text-align: center;
}



.online{
    
    grid-area: onl;
    display: flex;
flex-direction: column;
align-items: center;
}

.onl-ico{
    display: flex;
    background: #00BAAD;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items:center;
    justify-content: center;
    font-size: 25px;
    margin: 10px 0 0 10px;
}

.online > a{
background: white;
padding: 1px;
/*font-family: Arial, Helvetica, sans-serif;*/
}

.online > a:hover{
    border-bottom: 5px solid #93c5c6;
}


.online > .txt{
    text-align: center;
}









.footer{
    grid-area: footer;
    display: flex;
    height: 50px;
   
   /*
   
    background: rgb(246,0,0);
    background: -moz-linear-gradient(0deg, rgba(246,0,0,1) 0%, rgba(255,255,255,1) 51%);
    background: -webkit-linear-gradient(0deg, rgba(246,0,0,1) 0%, rgba(255,255,255,1) 51%);
    background: linear-gradient(0deg, rgba(246,0,0,1) 0%, rgba(255,255,255,1) 51%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f60000",endColorstr="#ffffff",GradientType=1);*/  
}




.footer__redes{
   /*border: 2px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
    background-color: #577486;
   /* background-image: radial-gradient( circle 767px at 10.2% 22.1%,  rgb(235, 243, 237) 0%, rgba(0,191,255,1) 90% );*/
}

.footer__redes-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: inherit;
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: space-around;
    

}
.footer__redes-ul>li{
  display: flex;
  justify-content:space-between;
  margin: 10px;
    
}


.footer__redes-ul li a{
    text-decoration: none;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #00BAAD;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px white;
  transition: all .4s ease-in-out;
}

.footer__redes-ul li a:hover {
    transform: scale(1.2);
  }




.footer__google{
    background: #577486;
/*background: -moz-radial-gradient(circle, rgba(50,52,57,1) 0%, rgba(74,4,18,1) 100%);
background: -webkit-radial-gradient(circle, rgba(50,52,57,1) 0%, rgba(74,4,18,1) 100%);
background: radial-gradient(circle, rgba(50,52,57,1) 0%, rgba(74,4,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323439",endColorstr="#4a0412",GradientType=1);
background: #252634;   */
width: 60%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 80px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

/*
.footer__google > div{


}
*/


.footer__google > p{
    font-size: 20px;
    color: white;
    grid-column: 1 / span 3;
    margin: 0;
    padding: 0;
    
    
    
}
.footer__google > div > p{
    color: white;
    font-size: 13px;
}

.mapa1 > a, .mapa2 > a, .mapa3 > a{
    text-align: center;
  background:#f1f1f1;
  color: #e04a3a;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}
.mapa1{
    grid-column: 1;
    grid-row: 2;
}
.mapa1,.mapa2,.mapa3{
height: 70px;
width: 90%;
display: flex;
align-items:center;
flex-direction: column;
/*border: 1px solid orangered;*/
}


.footer__desarro{
    width: 10%px;
    height: 100px;
    
}

.footer__desarro>img{
    
    width: inherit;
    height: inherit;
    object-fit: cover;
    opacity: .4;
}







/* media query*/ /* media query*/ /* media query*/ /* media query*/ /* media query*/
/* media query*/ /* media query*/ /* media query*/ /* media query*/ /* media query*/
/* media query*/ /* media query*/ /* media query*/ /* media query*/ /* media query*/




@media screen and (max-width: 768px)
{
    .contenedor{
    
        grid-template-rows: 15fr  40fr 60fr 60fr 10fr;
        grid-template-columns:repeat(12, 1fr);
        grid-auto-rows: 1fr;



        grid-template-areas: "encai encai encai encai encc encc encc encc encd encd encd encd"
                       /* "encc encc encc encc encc encc encc encc encc encc encc encc"*/
                       "serv serv serv serv serv serv serv serv serv serv serv serv"
                        "aside aside aside aside aside aside aside aside aside aside aside aside"
                        "main main main main  main main main main main main main main"
                        
                        "footer footer footer footer footer footer footer footer footer footer footer footer";
    
    }



    .enc__menu{

        
        width: 100%;
        height: 100%;
        top: 80px;
        display: flex;
        text-align: center;
        transition: all 0.4s;
        

    }



    .enc__menu-ul{
        position: fixed;
        background-color: #577486;
        left: -200%;
         display: block;
         z-index: 10;
         
    }


    .enc__menu-ul > li{
      
        background-color: #fff;
        border-radius: 15px;
       
      
    }

    .enc__menu-ul > li > a {
        color: black;
        

    }



    .check__menu:checked ~ ul{
        left: 0%;
        left: 0%;
        height: 100%;
        width: 98%;
        top: 73px;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        
    }

    .check__menu:checked ~ ul > li {

        min-width: fit-content;
        width: 70%;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    

    


    .check__menu:checked ~ ul > li > a{
        font-size: 30px;


    }


    .check__boton{
        display: block;
        color: #fff;
       
    }


    
    .servicios{
        background: lightcoral;
        border: 2px solid red;
        grid-area: serv;
        display: grid;
        grid-template-columns: repeat(12, 1fr) ;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:  "derma derma derma derma derma derma clinica clinica clinica clinica clinica clinica" 
                                "cardio cardio cardio cardio cardio cardio gineco gineco gineco gineco gineco gineco"
                    "pedi pedi pedi pedi pedi pedi trauma trauma trauma trauma trauma trauma";
        
        
    }
    /*
    .servicios > div > img{
        height: 100px;
        width: 50%;
    }
    */





    .aside{
        width: 98%;
        display: flex;
    }


    .carrucel{
    
        width:98vw;
        height:auto ;
        margin: auto auto 0;
        overflow: hidden;
       }
    
    
    
    .carrucel__ul{
        border-top: double;
        border-bottom: double;
        border-color: black;
        filter: drop-shadow(5px 5px 5px #222);
        display: flex;
        align-items: center;
        position: relative;
        padding: 0;
         width: 400%;
         height: auto;
         animation: slide 20s infinite ease-in-out;
        
    
    
    
    
    
    }
    
  
    
    
    .carrucel__ul > li{
    
        list-style: none;
        width: 100%;
    }
    
    
    .carrucel__ul > a > img{
    width: 100%;
   
    }
#img{
    /*border: 10px solid black;*/
    width: 100%;
}


@keyframes slide{

    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}






















    .main{
        grid-area: main;
        width: 98%;
        height: 600px;
        
        display: grid;
        
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "tex tex tex tex tex tex tex tex tex tex tex tex"
                            " tel tel tel tel tel tel tel tel tel tel tel tel" 
                            "what what what what  what what what what  what what what what" 
                            "onl onl onl onl onl onl onl onl onl onl onl onl"
                            ;
        
    
        background-color: d9efed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        
        background-attachment: fixed;
    
    }
   
    .telefono{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
     
    .tel-icono{
        font-size: 12.5px;
        width: 25px;
        height: 25px;
    }
    .telefono > .txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        
    }

    .what{
        
            display: flex;
            align-items: center;
            
    justify-content: space-evenly;
    flex-direction: column;
    
        
    }

    .what-ico{
        font-size: 12.5px;
        width: 25px;
        height: 25px;
    }

    .what > .txt{
        font-size: 12px;
    }

    .what > a{
        
        padding: 5px;
        margin: 20px;
        height: 15px;

    }

    .onl-ico{
        font-size: 12.5px;
        width: 25px;
        height: 25px;
    }

    .online > .txt{
        font-size: 12px;
    }
    .online > a{

        padding: 5px;
        margin: 10px;
        height: 15px;

    }

    .online{
        
    display: flex;
            
    justify-content: space-evenly;
    flex-direction: row;
    flex-direction: column;
    align-items: center;

        
    }

    .online > .txt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }




    .footer__redes-ul li a {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

.footer__google > div > p {
    color: white;
    font-size: 10px;



}
.footer__google > p {
    font-size: 15px;
    
    margin: 0;
    padding: 0;
}
}