.contenedor-pacientes {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    grid-area: aside;
}

ul {
    list-style: none;
    padding: 0;
}

.titulo {
    text-align: center;
    font-size: 3em;
}

h2{
    text-align: center;
}





.ingreso-datos, .reg-datos{
    box-shadow: 0 0 20px 0 rgba(12, 0, 0, 0.993);
    border-radius: 5%;
    
}

.ingreso-datos > *, .reg-datos > * {
    padding: 1em;
}

.formulario-ingreso, .formulario-reg{
    background: #18aff5;
    border-radius: 5%;
}

.formulario-ingreso form, .formulario-reg form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario-ingreso form label, .formulario-reg form label {
    display: block;
}

.formulario-ingreso form div, .formulario-reg form div {
    margin: 0;
    padding: 1em;
}

.formulario-ingreso form .mensaje, .formulario-reg form .mensaje {
    grid-column: 1 / 3;
}

.formulario-ingreso form button,
.formulario-ingreso form input,
.formulario-reg form button,
.formulario-reg form input {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.formulario-ingreso form button, .formulario-reg form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.formulario-ingreso form button:hover,
.formulario-ingreso form button:focus,
.formulario-reg form button:hover,
.formulario-reg form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}




/* LARGE SIZE */
@media(min-width: 700px) {
  
    .ingreso-datos, .reg-datos {
        display: grid;
        
    }
    .ingreso-datos > *, .reg-datos > * {
        padding: 2em;
    }
    
   
.reg-datos{
    display: none;
}
}