*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    text-decoration-color: white;
}
body{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.contenedor{
    display: grid;
    grid-template-rows: 5fr 75fr 75fr 75fr 5fr;
    grid-template-columns:repeat(12, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: "enc enc enc enc enc enc enc enc enc enc enc enc"
                        "serv serv serv serv serv serv serv serv serv serv serv serv"                    
                        "aside aside aside aside aside aside aside aside aside aside aside aside"
                        "main main main main main main main main main main main main"
                        
                        "footer footer footer footer footer footer footer footer footer footer footer footer";
    
    height: 100vh;
    
}

.menu{
    grid-area: enc;
    display: grid;
    grid-template-areas: "encai encai encc encc encc encc encc encc encc encc encd encd";
    height: 150px;
}
.enc__home{
 
   grid-area: encai;
   
   padding-left: 10px;
   padding-right: 10px;
   background-color: #577486;
   display: flex;
   justify-content: center;
   align-items: center;
}

.enc__home img{
   
    position: relative;
     width: 100%;
     height:auto;
     border-radius: 15px;
     padding: 5px;
     filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    
}
.enc__menu{
    grid-area: encc;
    /*border: 2px solid red;*/
    display:inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    
    background-color: #577486;
    
}
.enc__menu-ul{
   text-align: center; 
   padding: 0  ;
   margin: 0;
   
}
.enc__menu-ul>li{
    
    display: inline-block;
    text-align: center;
    
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    
}
.menu-ul>li>a{
    color: white;
    text-decoration: none; 
}
.enc__menu-ul>li:hover{
    color: white;
    
}
.enc__menu-ul li a {
    color: white;
    text-decoration: none; 
}

.check__menu {
display: none;
color: white;
}
.check__boton{
    display: none;
}
.enc__menu-ul>li>a:hover,
.enc__menu-ul>li>a:active {
    color: #53add0; 
}





.enc__ingreso{
    grid-area: encd;

    display:inline-flex;
    align-items: center;
    justify-content: center;
   
    background:  #577486;


}  

.enc__ingreso-ul{
    text-align: center; 
   padding: 0  ;
   margin: 0;
}

.enc__ingreso-li{
    
   
    border-radius: 15px;
    display: block;
    text-align: center;
    max-width: 90%;
    padding: 5px;
    font-size: 12px;
    background:  white;
    margin: 5px;
    
    
}

.enc__ingreso-li>a{
    color: black;
    font-weight: 600;
}

.enc__ingreso-li:hover{
    background:  #93c5c6;
 }

  
  .servicio{
    display: flex;
   
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    background-color: #fff;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px 40px;
    overflow: hidden;
  }
  
  .servicio-medico{
    
    grid-area: serv;
    display: grid;
    
    
    
  }
  .servicio-medico h1{
   
    color: #2f3e47;
    text-align: center;

  }

  .estudios{
    margin: auto;
  }

  .servicio-medico  p{
   
    color: #2f3e47;
    text-align: justify;
    padding: 0 10px;
   
  }
  .servicio-medico ol, .servicio-medico ul{
    list-style: none;
    color: #2f3e47;
  }
  .tabs{
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap:10px ;
  
    align-content: center;
    justify-content: center;
  }

  .tab-clinica{
    grid-column: 1;
    font-size: 15px;
    
  }
  .tab-pediatria{
    grid-column: 2;
    font-size: 15px;  
}
  .tab-gineco{
    grid-column: 3;
    font-size: 15px;
  }
  .tab-cardio{
    grid-column: 4;
    font-size: 15px;}
  .tab-trauma{
    grid-column: 5;
    font-size: 15px;}
  .tab-derma{
    grid-column: 6;
    font-size: 15px;}

  
  span.diana {
    position: fixed;
    display: none;
    }
  
  .diana + a {
    display: block;
    
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 2px solid #90a9b0;
    background-color: #90a9b0;
    margin-bottom: -1px;
    border-radius: 8px 8px 0 0;
    
    text-decoration:none;
  }
  
  .diana:target + a {
    background-color: #fff;
    border-bottom-color: #fff; 
  }

  #pnl_1, #pnl_2, #pnl_3, #pnl_4, #pnl_5, #pnl_6 {
    display: none;
    padding: 20px;
    grid-column: 1/7; 
    grid-row: 2; 
    border: 2px solid #90a9b0;
    border-radius: 10px;
    margin: 20px auto;
  }

  #pnl_1 img, #pnl_2 img, #pnl_3 img, #pnl_4 img, #pnl_5 img, #pnl_6 img{
    display: block;
    margin: 0 auto; 
  max-width: 100%;
  border-radius: 15px;
  }
  
  #pnl_1 .estudios, #pnl_2 .estudios, #pnl_3 .estudios, #pnl_4 .estudios, #pnl_5 .estudios, #pnl_6 .estudios {
    margin-left: 60px;
    text-align: left; /* Ajusta el texto a la izquierda */
  }
  #pnl_1 .estudios-lista, #pnl_2 .estudios-lista, #pnl_3 .estudios-lista, #pnl_4 .estudios-lista, #pnl_5 .estudios-lista, #pnl_6 .estudios-lista {
    margin-left: 70px;
    text-align: left; 
  }



   


 .aside{
    grid-area: aside;
    display: flex;
    color: black;
    text-align: center;
   
    


}

.carrucel{
    
    width: 1280px;
    height:auto ;
    margin: auto auto 0;
    overflow: hidden;
   }



.carrucel__ul{
    border-top: groove;
    border-bottom: groove;
    border-color: #e9f2f1;

    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
     width: 400%;
     height: 600px;
     animation: slide 28s infinite ease-in-out;

}


@keyframes slide{

    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


.carrucel__ul > li{

    list-style: none;
    width: 100%;
}


.carrucel__ul > a{
width: 100%;
text-decoration: bl;
}


.main{
    grid-area: main;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "tex tex tex tex tex tex tex tex tex tex tex tex"
                        "tel tel tel tel what what what what onl onl onl onl"
                        "serv serv serv serv serv serv serv serv serv serv serv serv";

    background-color: #d9efed ;
    background-repeat: no-repeat;
    background-size:100% 100%;
    
    }



.main__grid-turnos{
    grid-area: tex;
}


.main__grid-turnos > p{
    text-align: center;
    font-size: 20px;
    color:#577486;

    padding: 5px;
}

.main__grid-servicios{
    
    background: white;
    grid-area: serv;
}

.telefono{
    
grid-area: tel;
display: flex;
flex-direction: column;
align-items: center;
}

.tel-icono{
    display: flex;
    background: #00BAAD;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items:center;
    justify-content: center;
    font-size: 25px;
    margin: 10px 0 0 10px;
    
}
.txt > h4, .editor >p{
    color: #577486;

}
.telefono > .txt{
    text-align: center;
}


.what{
    
    grid-area: what;
    display: flex;
flex-direction: column;
align-items: center;
}

.what-ico{
    display: flex;
    background: #00BAAD;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items:center;
    justify-content: center;
    font-size: 25px;
    margin: 10px 0 0 10px;
}

.what > a{
    
    background: #00BAAD;
    padding: 1px;
    border-radius: 8px;
    color: black;
}

.what > a:hover{
    border-bottom: 5px solid #93c5c6;
}

.what > .txt{
    text-align: center;
}



.online{
    
    grid-area: onl;
    display: flex;
flex-direction: column;
align-items: center;
}

.onl-ico{
    display: flex;
    background: #00BAAD;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items:center;
    justify-content: center;
    font-size: 25px;
    margin: 10px 0 0 10px;
}

.online > a{
    background: #00BAAD;
    color:black;
padding: 1px;
border-radius: 8px;

}

.online > a:hover{
    border-bottom: 5px solid #93c5c6;
}


.online > .txt{
    text-align: center;
}









.footer{
    grid-area: footer;
    display: flex;
    
   
}




.footer__redes{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
    background-color: #577486;

}

.footer__redes-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: inherit;
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: space-around;
    

}
.footer__redes-ul>li{
  display: flex;
  justify-content:space-between;
  margin: 10px;
    
}


.footer__redes-ul li a{
    text-decoration: none;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #00BAAD;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px white;
  transition: all .4s ease-in-out;
}

.footer__redes-ul li a:hover {
    transform: scale(1.2);
  }




.footer__google{
    background: #577486;
    width: 60%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 80px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    justify-items: center;
}



.footer__google > p{
    font-size: 20px;
    color: white;
    grid-column: 1 / span 3;
    margin: 0;
    padding: 0;
    
    
    
}
.footer__google > div > p{
    color: white;
    font-size: 13px;
}

.mapa1 > a, .mapa2 > a, .mapa3 > a{
    text-align: center;
  background:#f1f1f1;
  color: #e04a3a;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}
.mapa1{
    grid-column: 1;
    grid-row: 2;
}
.mapa1,.mapa2,.mapa3{
height: 70px;
width: 90%;
display: flex;
align-items:center;
flex-direction: column;

}


.footer__desarro{
    width: 10%px;
    height: 100px;
    
}

.footer__desarro>img{
    
    width: inherit;
    height: inherit;
    object-fit: cover;
    opacity: .4;
}







/* media query*/ /* media query*/ /* media query*/ /* media query*/ /* media query*/
/* media query*/ /* media query*/ /* media query*/ /* media query*/ /* media query*/
/* media query*/ /* media query*/ /* media query*/ /* media query*/ /* media query*/










@media screen and (max-width: 768px)
{
    .contenedor{
    
        grid-template-rows: 15fr  40fr 60fr 60fr 10fr;
        grid-template-columns:repeat(12, 1fr);
        grid-auto-rows: 1fr;



        grid-template-areas: "enc enc enc enc enc enc enc enc enc enc enc enc"
                      
                       "serv serv serv serv serv serv serv serv serv serv serv serv"
                        "aside aside aside aside aside aside aside aside aside aside aside aside"
                        "main main main main  main main main main main main main main"
                        
                        "footer footer footer footer footer footer footer footer footer footer footer footer";
    
    }

    .menu{
        grid-area: enc;
        display: grid;
        grid-template-areas: "encai encai encai encai encc encc encc encc encd encd encd encd";
        
        grid-template-columns:repeat(12, 1fr);
        height: 150px;
        width: 100%;
        position: fixed;
        z-index: 1000;
    }
    .enc__menu{

        
        width: 100%;
        height: 100%;
        top: 80px;
        display: flex;
        text-align: center;
        transition: all 0.4s;
        

    }



    .enc__menu-ul{
        position: fixed;
        background-color: #577486;
        left: -300%;
         display: flex;
         flex-direction: column;
         z-index: 10;
         
    }


    .enc__menu-ul > li{
      
        background-color: #fff;
        border-radius: 15px;
       
      
    }

    .enc__menu-ul > li > a {
        color: black;
        

    }



    .check__menu:checked ~ ul{
       
        left: 0%;
        height: 70%;
        width: 100%;
        top: 150px;
       
        
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        
    }

    .check__menu:checked ~ ul > li {

        min-width: fit-content;
        width: 40%;
        height: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    

    


    .check__menu:checked ~ ul > li > a{
        font-size: 20px;


    }


    .check__boton{
        display: block;
        color: #fff;
       
    }




    .servicio {
        padding: 30px 20px;
      }

      .servicio-medico{
        margin-top: 150px;
      }


      .tabs{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap:10px ;
        width: 100%;
        grid-row-gap: 10px;
        align-content: center;
        justify-content: center;
      }
      .tab-clinica{
        grid-column: 1;
        font-size: 15px;
        
      }
      .tab-pediatria{
        grid-column: 2;
        font-size: 15px;  
    }
      .tab-gineco{
        grid-column: 3;
        font-size: 15px;
      }
      .tab-cardio{
        grid-row: 2;
        grid-column: 1;
        font-size: 15px;}
      .tab-trauma{
        grid-row: 2;
        grid-column: 2;
        font-size: 15px;}
      .tab-derma{
        grid-row: 2;
        grid-column: 3;
        font-size: 15px;}
        #pnl_1, #pnl_2, #pnl_3, #pnl_4, #pnl_5, #pnl_6 {
            grid-row: 3;
            grid-column: 1/4;
        }

   
    




    .aside{
        width: 98%;
        display: flex;
    }


    .carrucel{
    
        width:98vw;
        height:auto ;
        margin: auto auto 0;
        overflow: hidden;
       }
    
    
    
    .carrucel__ul{
        border-top: double;
        border-bottom: double;
        border-color: black;
        filter: drop-shadow(5px 5px 5px #222);
        display: flex;
        align-items: center;
        position: relative;
        padding: 0;
         width: 400%;
         height: auto;
         animation: slide 20s infinite ease-in-out;
        
    
    
    
    
    
    }
    
  
    
    
    .carrucel__ul > li{
    
        list-style: none;
        width: 100%;
    }
    
    
    .carrucel__ul > a > img{
    width: 100%;
   
    }
#img{

    width: 100%;
}


@keyframes slide{

    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}






















    .main{
        grid-area: main;
        width: 100%;
        height: 600px;
        
        display: grid;
        
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "tex tex tex tex tex tex tex tex tex tex tex tex"
                            
                            "what what what what  what what what what  what what what what" 
                            "onl onl onl onl onl onl onl onl onl onl onl onl"
                            " tel tel tel tel tel tel tel tel tel tel tel tel" 
                            ;
        
    
        background-color: #d9efed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        
        background-attachment: fixed;
    
    }
   
    .telefono{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
     
    .tel-icono{
        font-size: 12.5px;
        width: 25px;
        height: 25px;
    }
    .telefono > .txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        
    }

    .what{
        
            display: flex;
            align-items: center;
            
    justify-content: space-evenly;
    flex-direction: column;
    
        
    }

    .what-ico{
        font-size: 12.5px;
        width: 25px;
        height: 25px;
    }

    .what > .txt{
        font-size: 12px;
    }

    .what > a{
        
        padding: 5px;
        margin: 20px;
        height: 15px;

    }

    .onl-ico{
        font-size: 12.5px;
        width: 25px;
        height: 25px;
    }

    .online > .txt{
        font-size: 12px;
    }
    .online > a{

        padding: 5px;
        margin: 10px;
        height: 15px;

    }

    .online{
        
    display: flex;
            
    justify-content: space-evenly;
    flex-direction: row;
    flex-direction: column;
    align-items: center;

        
    }

    .online > .txt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }









    
.footer__redes-ul li a {
        width: 20px;
        height: 20px;
        line-height: 20px;
}

.footer__google > div > p {
    color: white;
    font-size: 10px;



}
.footer__google > p {
    font-size: 10px;
    
    margin: 0;
    padding: 0;
}
}






@media screen and (max-width: 480px){

    .enc__ingreso-li>a{
        color: black;
        font-size: 10px;
        
    }

    .enc__ingreso-li {
        font-size: 10px;
    }

    .servicio {
        padding: 20px 10px;
      }

      .tab-clinica{
        grid-column: 1;
        font-size: 12px;
        
      }
      .tab-pediatria{
        grid-column: 2;
        font-size: 12px;  
    }
      .tab-gineco{
        grid-column: 3;
        font-size: 12px;
      }
      .tab-cardio{
        grid-row: 2;
        grid-column: 1;
        font-size: 12px;}
      .tab-trauma{
        grid-row: 2;
        grid-column: 2;
        font-size: 12px;}
      .tab-derma{
        grid-row: 2;
        grid-column: 3;
        font-size: 12px;}


        #pnl_1, #pnl_2, #pnl_3, #pnl_4, #pnl_5, #pnl_6 {
            
            padding: 20px;
           
          }
        

.footer{
    display: flex;
    flex-direction: column;
}



.footer__redes, .footer__desarro, .footer__google{
    width: 100%;
}
.footer__google p{
    font-size: 15px;
}

.mapa1 > p, .mapa2 > p, .mapa > p{
    height: 40%;
}
}


@media screen and (max-width: 768px) and (orientation:landscape){
    .menu{
        height: 75px;
        
    }

    .enc__home img{
        max-height: 65px;
    }
    
      .check__menu:checked ~ ul{
        top: 75px;
      }

      .servicio-medico {
        margin-top: 75px;
      }  
}


