<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion Cureta Clinic</title>
    <link href="../imagenes/Logo/cureta favicon.png" rel="icon">
    <link rel="stylesheet" href="../estilos/estilo-adm.css">
</head>
<body>
    <div class="login-box">
        <img src="../imagenes/Logo/cureta favicon.png" class="avatar" alt="Avatar Image">
        <h1>Logeo al Sistema</h1>
        <form>
          <!-- USERNAME INPUT -->
          <label for="usuario" >Usuario</label>
          <input type="text" id="usuario" placeholder="Ingrese su usuario">
          <!-- PASSWORD INPUT -->
          <label for="pass" >Contraseña</label>
          <input type="password" id="pass" placeholder="Ingrese su Contraseña">
          <input type="submit" value="Ingreso" onclick="validar()">
          
        </form>
      </div>

      <script src="../javascript/js-adm.js"></script>
</body>
</html>